* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  background: #a7c957;
  background-image: url("back.avif");
  background-position: center center;
  background-size: cover;
}

.main{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #744d5b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.wrapper {
  width: 800px;
  height: 260px;
  padding: 35px;
  background: #edf2f4;
  border-radius: 10px;
  border: 1px solid #744d5b;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.wrapper .content-box {
  height: 180px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #744d5b;
}

.wrapper .input-field {
  padding: 13px 20px 0;
  position: absolute;
  opacity: 0;
  z-index: -99;
}

.content-box .content {
  margin-top: 25px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}

.content-box .result-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 140px);
}

.result-details li {
  display: flex;
  height: 20px;
  list-style: none;
  align-items: center;
  padding-top: 20px;
}

.content button {
  margin-top: 32px;
  width: 105px;
  outline: none;
  border: none;
  color: #fff;
  background: #744d5b;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.content button:active {
  transform: scale(0.97);
}

.typing-text p span {
  position: relative;
}
.typing-text p span.active {
  color: orange;
}

.typing-text p span.correct {
  color: green;
}
.typing-text p span.incorrect {
  color: red;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}

::selection {
  color: #fff;
  background: orange;
}
